@import "../node_modules/bootstrap/scss/bootstrap.scss";

$bg-color: #fff9ef;

$secondary-color: rgb(80, 150, 255);
$secondary-color-lgt: rgb(132, 181, 255);

$offset-y-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

@font-face {
  font-family: ownFont;
  src: url(../fonts/Photograph_Signature.ttf);
}

@media (min-width: 768px) {
  .px-md-130 {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }
}

@media (min-width: 768px) {
  .w-md-45 {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .max-w-xl {
    max-width: 1100px;
  }
}


// Changes to bootstrap classes
.text-secondary {
  color: $secondary-color !important;
}

// Changes to HTML & own classes
header {
  background-color: $bg-color;
}

h1 {
  font-family: ownFont;
  font-size: 7rem;
  text-shadow: $offset-y-shadow;
}

h2 {
  text-shadow: $offset-y-shadow;
}

#home {
  height: 100vh;
  background-color: #fff9ef;
}

#about {
  .img-container {
    width: 40%;

    @media (max-width: 768px) {
      width: 100%;
    }

    .about-img {
      max-width: 100%;
      width: 100%;
      // border: solid 5px $primary-lgt-color;
      
    }
  }

  .text-container {
    width: 60%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.experience-container {
  background-color: #fff9ef;
}

.hero-circle {
  width: 400px;
  height: 400px;
  background-color: $secondary-color-lgt;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);

    opacity: 0.4;
    
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 0.8;
    
  }
}