// Map of custom colors
// $custom-colors: (
//   "bg": #fff9ef,
// );

// Changing value on bootstrap colors
$primary: rgb(12, 108, 253);
$secondary: rgb(104, 165, 245);
$secondary-color-lgt: rgb(132, 181, 255);
$body-secondary-bg: #fff9ef;

// Shadows
$offset-y-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

// Import bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Create own font
@font-face {
  font-family: ownFont;
  font-size: clamp(3rem, 50vw, 10rem);
  src: url(../fonts/Thesignature.otf);
}

// Changes to HTML & own classes
h1 {
  font-family: ownFont;
  text-shadow: $offset-y-shadow;
}

h2 {
  text-shadow: $offset-y-shadow;
}

.hero-circle {
  max-width: 400px;
  width: 80vw;
  aspect-ratio: 1/1;
  background-color: $secondary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);

    opacity: 0.4;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 0.8;
  }
}