// Map of custom colors
$custom-colors: (
  "bg": #fff9ef,
);

// Changing value on bootstrap colors
$primary: rgb(12, 108, 253);
$secondary: rgb(104, 165, 245);
$secondary-color-lgt: rgb(132, 181, 255);

// Shadows
$offset-y-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: ownFont;
  src: url(../fonts/Photograph_Signature.ttf);
}

// Changes to bootstrap classes

// Changes to HTML & own classes
header {
  background-color: map-get($custom-colors, bg);
}

h1 {
  font-family: ownFont;
  font-size: 7rem;
  text-shadow: $offset-y-shadow;
}

h2 {
  text-shadow: $offset-y-shadow;
}

#home {
  height: 100vh;
  background-color: map-get($custom-colors, bg);
}

#about {
  .img-container {
    width: 40%;

    @media (max-width: 768px) {
      width: 100%;
    }

    .about-img {
      max-width: 100%;
      width: 100%;
      // border: solid 5px $primary-lgt-color;
    }
  }

  .text-container {
    width: 60%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.experience-container, .contact-container {
  background-color: map-get($custom-colors, bg);
}

.hero-circle {
  max-width: 80%;
  width: 400px;
  height: 400px;
  background-color: $secondary;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);

    opacity: 0.4;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 0.8;
  }
}

.projects {
  &__text-container,
  &__img-container {
    width: 100%;

    @media (min-width: 992px) {
      width: 50%;
    }
  }
}
